{% extends "base.html" %} 

{% block content %}
    <div class="row">
      <div class="col-md-6">
        <img src="https://th.bing.com/th/id/OIP.nKgm3WBlDbfMcSRTgCpBDAHaEM?pid=ImgDet&rs=1" alt="nintendo switch">
        <p>
           nintendo switch ksh 38,500
        </p>
      </div>
      <div class="col md 6">
        <img src="https://th.bing.com/th/id/OIP.31ZXZNHRfRPqOqPIXtKP_gHaEj?w=282&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Legend of Zelda breath of the wild">
        <p>
         Legend of Zelda breath of the wild ksh 6,500
        </p>
      </div>
      <div class="col-md-6">
        <img src="https://th.bing.com/th/id/OIP.QkJfJcsfJvHvnhAL5Bg3KAHaEK?rs=1&pid=ImgDetMain" alt="legend of zelda tears of the kingdom">
        <P>
          legend of Zelda tears of the kingdom ksh 8,999
        </P>
      </div>
    </div>
{%  endblock %}    
    